@import url("reset.css");
@import url("pygment.css");
@import url("typogrify.css");

body {
    font: normal normal 18px Open Sans;
    /* color: #3c5039;*/
    color: #3f3f3f ;
}
main {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
header {
    text-align: center;
    margin-bottom: 40px;
}
figure {
    font-size: 60px;
    color: #3F3F3F ;
    margin-bottom: 5px;
    margin-top: 25px;
}
figure a {
    color: #3F3F3F ;
}
a {
    text-decoration: none;
    color: #3F583F;
}
a:hover {
    text-decoration: underline;
}
article {
    margin-top: 50px;
}
.entry-title {

}

pre {
    background-color:  rgb(238, 238, 238);
    padding: 10px;
    margin: 10px;
    overflow: auto;
}
